<div class = "nursery-details">
	<label for = "check-number" 
	       class = "options-box"> Check number: </label>
	<input id = "check-number" name = check-number
	       type = "number" 
	       value = "1" min = "0" max = "5"
	       hx-get = "{% url 'germplasm:check_forms' %}"
	       hx-trigger = "load, click changed"
	       hx-include = "[name='check-number']"
	       hx-swap = "innerHTML"
	       hx-target = "div.check-names"> 
	</br>
	<div class = "check-names">
	</div>
	</br>
	<label for = "fill-name"
	       class = "options-box"> Fill name: </label>
	<input id = "fill-name" type = "text">
	</br>
	<label for = "row-number" 
	       class = "options-box"> Rows per: </label>
	<input id = "row-number" name = "row-number" type = "number" 
	       value = "4" min = "0" max = "10">
</div>
