<div class="table-tools-wrapper">

	<label for = "filter-box"
	       class = "filter-box"> Search table: </label>
	<input type = "search"
	       class = "filter-box"
	       name = "filter"
	       id = "filter-box"
	       placeholder = "Filter..."
	       hx-get="{% url 'crossing:crosses_table_view' %}"
	       hx-trigger="keyup delay:500ms, changed, search"
	       hx-target="div.table-container"
	       hx-swap="outerHTML"
               hx-include="[name='years']">

        <select id="years" name="years" class = "select-options-box"
               hx-get="{% url 'crossing:crosses_table_view' %}"
               hx-trigger="click"
               hx-target="div.table-container"
               hx-swap="outerHTML"
               hx-include="[name='filter']">
                <option value = "2025">2025</option>
                <option value = "2024">2024</option>
                <option value = "2023">2023</option>
                <option value = "2022">2022</option>
                <option value = "2021">2021</option>
                <option value = "2020">2020</option>
                <option value = "2019">2019</option>
                <option value = "20">All</option>
        </select>


	<div class = "styled-link" >
		<a href="/crossesmade_shiny" target="_blank" >  View graph of current two-way crosses  </a> 
	</div>

	<div hx-get="{% url 'crossing:crosses_table_view' %}" hx-trigger="load" hx-swap="outerHTML" hx-include="[name='years']">
		Error loading table!
	</div>

	<form style="display: inline"
	      action="/tools/export/csv/Crosses" 
	      method = "get">
		<button> Download CSV </button>
	</form>

	<form hx-post = "{% url 'crossing:crosses_wrapper_view' %}"
	      hx-encoding = "multipart/form-data"
	      hx-target="div.table-tools-wrapper">
		{% csrf_token %}
		{{ form }}
		<input class = "button" type="submit" value = "Submit">
	</form>
</div>

