<div class="table-tools-wrapper">
  <div class="entry-title">
	<h3> <span> {{ entry.family_id }} </span></h3>
  </div>
  <div class="row">
    <div class="column">
	<div class="detail-box">
	 <h3> Purdy Pedigree </h3>
	 <p class="detail_info"> {{ entry.purdy_text }} </p>
        </div>
	 <div class="detail-box">
	 <h3> Segregating Genes </h3>
	<p class="detail_info"> {{ entry.genes_text }} </p> 
        </div>
    </div>
    <div class="column">
	<div class="detail-box">
	 <h3> Cross Info </h3>
	 <p class="detail_info"> {{ entry.cross }} - {{ entry.cross.crosser_text }} - {{ entry.cross.cross_date }} </p>
        </div>
	 <div class="detail-box">
	 <h3> Notes </h3>
	<p class="detail_info"> {{ entry.notes_text }} </p> 
        </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
       <div class="entry-title">
	       <h3> <span> &#9792; {{ entry.cross.parent_one }} </a> </span></h3>
       </div>
       <div class="detail-box">
        <h3> Pedigree </h3>
	<p class="detail_info">{{ entry.cross.parent_one.purdy_text }}</p>
       </div>
       <div class="detail-box">
        <h3> WCP Year and Group </h3>
        <p class="detail_info">{{ entry.cross.parent_one.wcp_id }} - {{ entry.cross.parent_two.cp_group_text }}</p>
       </div>
       <div class="detail-box">
        <h3> Genes </h3>
        <p class="detail_info">{{ entry.cross.parent_one.genes_text }}</p>
       </div>
       <div class="detail-box">
        <h3> Notes </h3>
        <p class="detail_info">{{ entry.cross.parent_one.notes_text }}</p>
       </div>
       <div class="detail-box">
        <h3> Genotype Sample Id </h3>
        <p class="detail_info">{{ entry.cross.parent_one.sample_id_text }}</p>
       </div>
    </div>
    <div class="column">
       <div class="entry-title">
	<h3> <span> &#9794; {{ entry.cross.parent_two }} </span></h3>
       </div>
       <div class="detail-box">
        <h3> Pedigree </h3>
        <p class="detail_info">{{ entry.cross.parent_two.purdy_text }}</p>
       </div>
       <div class="detail-box">
        <h3> WCP Year and Group </h3>
        <p class="detail_info">{{ entry.cross.parent_two.wcp_id }} - {{ entry.cross.parent_two.cp_group_text }}</p>
       </div>
       <div class="detail-box">
        <h3> Genes </h3>
        <p class="detail_info">{{ entry.cross.parent_two.genes_text }}</p>
       </div>
       <div class="detail-box">
        <h3> Notes </h3>
        <p class="detail_info">{{ entry.cross.parent_two.notes_text }}</p>
       </div>
       <div class="detail-box">
        <h3> Genotype Sample Id </h3>
        <p class="detail_info">{{ entry.cross.parent_two.sample_id_text }}</p>
       </div>
    </div>
  </div>	
	<button hx-get="{% url 'crossing:families_wrapper_view' %}"
		hx-target="div.table-tools-wrapper"
		hx-swap="outerHTML">Return</button>

	<button hx-get="{% url 'crossing:entry_edit_form' entry.pk  %}"
		hx-target="div.table-tools-wrapper"
		> Edit </button>
</div>
