<!DOCTYPE html>

<html lang="en-US">

{% load static %}

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />

<link rel="shortcut icon" href="{%  static 'sg_db/media/sun_placeholder.ico' %}">
<link rel="stylesheet" href={% static 'sg_db/css/base_style.css' %}>

<!-- To allow CSS to be added on later -->
{% block extrastyles %} {% endblock %}

</head>

<body>

<div class="wrapper">
	<div class="sidebar">
		<h2 class="h2_sidebar" > LSU Wheat   Breeding </h2>
		<ul>
			<li class = "hover-line"> 
				<a href="/"> Documentation </a>
			</li>
			<li class = "hover-line"> 
				<a href="http://sgbreedbase.agcenter.lsu.edu"> Breedbase </a>
			</li>
			<li> Crossing: 
			  <ul>
				<li class = "hover-line"> 
					<a href="/crossing/entries"> WCPs </a>
				</li>
				<li class = "hover-line"> 
					<a href="/crossing"> Crosses </a>
				</li>
				<li class = "hover-line"> 
					<a href="/crossing/families"> Families </a>
				</li>
				<li class = "hover-line"> 
					<a href="/crossing_shiny"> App </a>
				</li>
			  </ul> 
			</li>
			<li> Germplasm:
			  <ul>
				<li class = "hover-line"> 
					<a href="/germplasm"> Nurseries </a>
				</li>
				<li class = "hover-line"> 
					<a href="/germplasm/stocks"> Seedlots </a>
				</li>
				<li class = "hover-line"> 
					<a href="/germplasm/trials"> Trials </a>
				</li>
			  </ul>
			</li>
			<li> Tools:
			  <ul>
				<li class = "hover-line"> 
					<a href="/tools/labels"> Labels </a>
				</li>
				<li class = "hover-line"> 
					<a href="/r"> RStudio </a>
				</li>
			  </ul>
			</li>
		</ul>
			<div class="ac_logo">
				<img src="{% static 'sg_db/media/agcenter.png' %}" alt="agcenter_logo">
			</div>
			<div class="sg_logo">
				<img src="{% static 'sg_db/media/SungrainsLarge.gif' %}" alt="sungrains_logo">
			</div>
	</div>
</div>

<body>

	<script src="https://unpkg.com/htmx.org@1.9.10"></script>

	{% block main %} {% endblock %}

	<!-- Allows Django to receive htmx form puts -->
	<script>
		document.body.addEventListener('htmx:configRequest', (event) => {
  event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
})
	</script>

</body>

</html>
