{% extends "base.html" %}  

{% load django_tables2 %}
{% load static %}

{% block extrastyles %}
	<title> Create Nursery </title>
	<link rel="stylesheet" href={% static 'sg_db/css/table_style.css' %}>
{% endblock %}

{% block main %} 

<main>

	<h2> Create Nursery </h2>
	
	<div hx-get="{% url 'germplasm:new_nursery_forms_view' %}" 
	     hx-trigger="load" 
	     hx-vals='{"filter" : "{{ stock_filters.filter }}",
	     	       "gens" : "{{ stock_filters.gens }}",
	     	       "year" : "{{ stock_filters.year }}",
	     	       "sd_units" : "{{ stock_filters.sd_units }}"}'
	     hx-swap="outerHTML">
	          Error loading table!

	</div>

</main>

{% endblock %} 
