{# Add htmx code at top level because submits GET with all forms #}
<div  class="table-tools-wrapper">

    <div class = "row">
      <div class = "third-table">
        <div class = "column">
	{#Need to add other filtering params to this #}
	  <div hx-get="{% url 'germplasm:stocks_table_view' %}" 
		  hx-trigger="load" 
		  hx-vals='{"filter" : "{{ stock_filters.filter}}"}'
		  hx-swap="outerHTML">
		  Error loading table!
	  </div>
	  <div class = "vertical-seperator" style="fontsize: x-large;">
		  &#x25BC;
	  </div>
	  <div class = "new-plots-table">
	  </div>
        </div>
      </div>
      <div class = "column">
        <div class = "table-options">	
	      <h3> <span> Nursery Options: </span> <h3>
	      <label for = "plot-type"
		     class = "options-box"> Trial type: </label>

	      <select id = "plot-type" name = "plot-type" class = "select-options-box" 
		      hx-get = "{% url 'germplasm:new_nursery_details' %}" 
		      hx-trigger="load, click changed" 
		      hx-swap="outerHTML" 
		      hx-target="div.nursery-details">
		      <option value = "HRs">Headrows</option>
		      <option value = "Pots">Pots</option>
		      <option value = "Yield">Yield plots</option>
	      </select>
	      <br/>
      	      <div class = "nursery-details"> 
	        <p> Nursery Details </p>
              </div>

	      <button hx-get="{% url 'germplasm:new_nursery_plots_table' %}"
		      hx-trigger="click"
		      hx-target="div.new-plots-table"
		      hx-vals='{}'
		      hx-swap="outerHTML"> Test Generate </button>
        </div>
      </div>
    </div>

</div>
