{# Add htmx code at top level because submits GET with all forms #}
<div  class="table-tools-wrapper">
    <div class = "row">
      <div class = "third-table">
        <div class = "column">
	{#Need to add other filtering params to this #}
	  <div class = "table-fade-wrapper">
	    <div hx-get="{% url 'germplasm:stocks_table_view' %}" 
		 hx-trigger="load" 
		 hx-vals='{"filter" : "{{ stock_filters.filter}}",
			     "gens" : "{{ stock_filters.gens}}",
		             "sd_units" : "{{ stock_filters.sd_units}}",
		             "first_n" : "5"}'
		 hx-swap="outerHTML">
		 Error loading table!
	    </div>
	    <fade/>
	  </div>
	  <div class = "vertical-seperator" style="fontsize: x-large;">
		  &#x25BC;
	  </div>
	  <div class = "table-fade-wrapper">
	    <div class = "new-plots-table">
	    </div>
	    <fade/>
	  </div>
        </div>
      </div>
      <div class = "column">
        <div class = "table-options">	
	      <h3> <span> New Trial: </span> <h3>
	      <form hx-post="{% url 'germplasm:new_nursery_plots_table' %}"
		    hx-include="[name='nursery-name'],
				  [name='nursery-year'],
				  [name='nursery-loc'],
				  [name='plot-type'],
				  [name='starting-plot'],
				  [name='row-number'],
				  [name='pot-number'],
				  [name='check-every'],
		                  [name='check-entry-one'],
		      	          [name='check-entry-two'],
		      	          [name='check-entry-three'],
		      	          [name='check-entry-four'],
		      	          [name='check-entry-five']"
                    hx-vals='{"filter" : "{{ stock_filters.filter}}",
			     "gens" : "{{ stock_filters.gens}}",
		             "sd_units" : "{{ stock_filters.sd_units}}"}'
		    hx-target="div.post-status-message"
		    hx-swap="innerHTML">

	      <label for = "nursery-name"
		     class = "options-box"> Trial name: </label>

              <input id = "nursery-name" name = "nursery-name" type = "text" value = "">
	      <br>
	      <label for = "nursery-year"
		     class = "options-box"> Trial year: </label>

              <input id = "nursery-year" name = "nursery-year" type = "number"
               value = "" min = "2023" max = "2099">
	      <br>
	      <label for = "nursery-loc"
		     class = "options-box"> Trial loc: </label>

              <input id = "nursery-loc" name = "nursery-loc" type = "text" value = "">
	      <br>

	      <label for = "plot-type"
		     class = "options-box"> Trial type: </label>


	      <select id = "plot-type" name = "plot-type" class = "select-options-box" 
		      hx-get = "{% url 'germplasm:new_nursery_details' %}" 
		      hx-trigger="load, click changed" 
		      hx-swap="outerHTML" 
		      hx-target="div.nursery-details">
		      <option value = "HRs">Headrows</option>
		      <option value = "Pots">Pots</option>
		      <option value = "Yield">Yield plots</option>
	      </select>


	      <h3> <span> Nursery Options: </span> <h3>

	      <br/>
	      <label for = "starting-plot"
		     class = "options-box"> Starting plot: </label>
	      <input id = "starting-plot" name = "starting-plot",
	      	     class = "options-box", type = "text", value = "1"> 
	      <br/>
      	      <div class = "nursery-details"> 
	        <p> Nursery Details </p>
              </div>

	      <input type = "submit", value = "Generate">
	      </form>

	      <div class="post-status-message"> <p> Nursery not submitted. </p> 
	      </div>

	      <div class = "background-table-regenerate"
		      hx-get="{% url 'germplasm:new_nursery_plots_table' %}"
		      hx-trigger="every 200ms"
		      hx-target="div.new-plots-table"
		      hx-include="[name='nursery-name'],
				  [name='nursery-year'],
				  [name='nursery-loc'],
				  [name='plot-type'],
				  [name='starting-plot'],
				  [name='row-number'],
				  [name='pot-number'],
				  [name='check-every'],
		                  [name='check-entry-one'],
		      	          [name='check-entry-two'],
		      	          [name='check-entry-three'],
		      	          [name='check-entry-four'],
		      	          [name='check-entry-five']"
                      hx-vals='{"filter" : "{{ stock_filters.filter}}",
			     "gens" : "{{ stock_filters.gens}}",
		             "sd_units" : "{{ stock_filters.sd_units}}"}'
		      hx-swap="innerHTML">
	      </div>
        </div>
      </div>
    </div>
</div>
