<div class="table-tools-wrapper">

	<label for = "filter-box"
	       class = "filter-box"> Search table: </label>
	<input type = "search"
	       class = "filter-box"
	       name = "filter"
	       id = "filter-box"
	       placeholder = "Filter..."
	       hx-get="{% url 'germplasm:stocks_table_view' %}"
	       hx-trigger="keyup delay:500ms, changed, search"
	       hx-target="div.table-container"
	       hx-swap="outerHTML">
    <div class = "row">
      <div class = "column">
	<div class = "half-table">
	  <div hx-get="{% url 'germplasm:stocks_table_view' %}" hx-trigger="load" hx-swap="outerHTML">
		  Error loading table!
	  </div>
	</div>
      </div>
      <div class = "column">
	<div class = "table-options">
	  <select id="gens" name = "gens"
	          hx-get="{% url 'germplasm:stocks_table_view' %}"
	          hx-trigger=""
	          hx-target="div.table-container"
	          hx-swap="outerHTML">
	    <option value = "All">All</option>
	    <option value = "F1">F1</option>
	    <option value = "F2">F2</option>
	    <option value = "F3">F3</option>
	  </select>
	  <br/>
	  <select id="sd_units" name = "sd_units"
	          hx-get="{% url 'germplasm:stocks_table_view' %}"
	          hx-trigger=""
	          hx-target="div.table-container"
	          hx-swap="outerHTML">
            <option value = "All"> All </option>
            <option value = "sds"> Seeds </option>
            <option value = "hds"> Heads </option>
            <option value = "g"> Grams </option>
            <option value = "lb"> Pounds </option>
	  </select>
	  <br/>
	  <input> Download CSV </input>
	  <br/>
	  <input> Download Labels </input>
	</div>
      </div>
    </div>


</div>
