{% extends "base.html" %}  

{% load django_tables2 %}
{% load static %}

{% block extrastyles %}
	<title> Wheat trials </title>
	<link rel="stylesheet" href={% static 'sg_db/css/table_style.css' %}>
        <link rel="stylesheet" href={% static 'sg_db/css/fieldbook_style.css' %}>

{% endblock %}

{% block main %} 

<main>

	<h2> Trials</h2>

	<div hx-get="{% url 'germplasm:trials_wrapper_view' %}"
	     hx-trigger="load"
	     hx-swap="outerHTML">
		Error loading table wrapper!
	</div>

</main>

{% endblock %} 
