<div class="table-tools-wrapper">
  <div class="entry-title">
	<h3> <span> {{ entry.trial_id }}</span></h3>
  </div>
  <div class="row">
    <div class="column">
      <div class="detail-box">
	<h3> Year: </h3>
	<p class="detail_info"> {{entry.year_text}} </p>
      </div>
      <div class="detail-box">
	<h3> Location: </h3>
	<p class="detail_info"> {{entry.location_text}} </p>
      </div>
      <div class="detail-box">
	<h3> Trial type: </h3>
	<p class="detail_info"> {{entry.plot_type}} </p>
      </div>
      <div class="detail-box">
	<h3> Notes: </h3>
	<p class="detail_info"> {{entry.notes_text}} </p>
      </div>
    </div>
    <div class="column">
      <div class="detail-box">
	<h3> Planting Date </h3>
	<p class="detail_info"> {{entry.planting_date}} </p>
      </div>
      <div class="detail-box">
	<h3> Harvest Date </h3>
	<p class="detail_info"> {{entry.harvest_date}} </p>
      </div>
      <div class="detail-box">
	<h3> Status  </h3>
	<p class="detail_info"> {{entry.status_text}} </p>
      </div>
    </div>
  </div>
	<br / >

        <div hx-get="{% url 'germplasm:predictions_table_view' trial_filter=entry.trial_id %}" hx-trigger="load" hx-swap="outerHTML">
                No predictions found for trial!
        </div>

	<button hx-get="{% url 'germplasm:trials_wrapper_view' %}"
		hx-target="div.table-tools-wrapper"
		hx-swap="outerHTML">Return</button>

	<button hx-get="{% url 'crossing:entry_edit_form' entry.pk  %}"
		hx-target="div.table-tools-wrapper"
		> Edit </button>


	<button hx-post="{% url 'tools:fieldbooks_view'  %}"
		hx-target="body"
		hx-include="[name='select_run']"
		hx-vals='{"trial_str" : "{{ entry.trial_id }}"
		}'
		> Generate Fieldbook </button>
 </div>





