{% load static %}

{% block extrastyles %}
	<title> Test Fieldbook </title>
	<link rel="stylesheet" href={% static 'sg_db/css/fieldbook_style.css' %}>
{% endblock %}

{% block main %}


<div class="fieldbook">
<main>
  <div class="title-page">
	<h1> {{ trial_info.trial_str }} </h1>
	<h1 style="font-size:18px;"> Generated Fieldbook </h1>
	<h1 style="font-size:18px;color:red;"> DRAFT FORMATTING </h1>

	<div class="outer-container-title">
        <div class="title-column">
	<h2> Trial Details: </h2>
	<div class="trial-info">
        <div class="detail-box">
	  <h3> Year: <span style="font-style:italic;"> {{ trial_info.trial_year}} </span> </h3>
        </div>
        <div class="detail-box">
          <h3> Location: <span style="font-style:italic;">{{ trial_info.trial_loc}} </span></h3>
        </div>
        <div class="detail-box">
	  <h3> Trial type: <span style="font-style:italic;">{{ trial_info.trial_type }} </span> </h3>
	</div>
	</div>
	</div>
	<div class="title-column">
	<h2> Predicted Phenotypes: </h2>

	{% for run, pheno in trial_info.fb_preds.items %}
        <div class="detail-box">
	        <h3> {{ pheno }} : <span style="font-size:14px;font-style:italic;"> {{ run }} </span> </h3>
        </div>
	{% endfor %}
	</div>
	</div>

	<div class="main_image">
	        <img src="{% static 'sg_db/media/headrows.jpeg' %}" alt="headrows_image" style="width:800px;height:602px;border:6px solid #555;">
	</div>

        <div class="detail-box">
	        <p> Noah DeWitt / NDeWitt@agcenter.lsu.edu / (352)-293-5437 </p>
	        <p> Stephen Harrison / SHarrison@agcenter.lsu.edu / (225)-281-9446 </p>
	</div>
  </div>


	      {% for family, preds in preds.items %}
	        {% include 'tools/partials/familyDetail_partial.html' %}
	        {% include 'tools/partials/familyPreds_partial.html' %}
	        {% include 'tools/partials/family_plots_table.html' %}
	      {% endfor %}

</main>
</div>

{% endblock %}

