<!DOCTYPE html>
{% extends "base.html" %}  

{% block main %} 


<main>
	<h2> Generate Labels </h2>

	<form 
	    action="/tools/labels"
	    enctype="multipart/form-data"
	    method="post"
	>
	    {% csrf_token %}
	    
	    {% for field in label_form %} 

		<h3 class="detail_header"> {{field.label_tag}} </h3>
		<p class="detail_info"> {{ field }} </p>

	    {% endfor %}
	    <input type="submit" 
		   class='button'
	           name = 'upload_files' 
		   value = "Submit">
	</form>
</main>

{% endblock %} 
