<p class = "crossing-group-column"
   {% if record.cp_group_text == "A" %}
   	style = "color: #d86853ff; font-weight: bold;"> A
   {% elif record.cp_group_text == "B" %}
   	style = "color: #7d91ccff; font-weight: bold;"> B
   {% elif record.cp_group_text == "G" %}
   	style = "color: #7dc770ff; font-weight: bold;"> G
   {% elif record.cp_group_text == "F" %}
   	style = "color: #7c58a1ff; font-weight: bold;"> F
   {% elif record.cp_group_text == "P" %}
   	style = "color: #fdd023; font-weight: bold;"> P
   {% elif record.cp_group_text == "PF" %}
   	style = "color: #7c58a1ff; font-weight: bold;"> PF 
   {% elif record.cp_group_text == "F1" %}
   	style = "color: #706b74ff; font-weight: bold;"> F1 
   {% elif record.cp_group_text == "T" %}
   	style = "color: #706b74ff; font-weight: bold;"> F1 
   {% endif %}
</p>
