<div class="table-tools-wrapper">
  <div class="entry-title">
	<h3> <span> {{ preds.family_object.family_id }} </span></h3>
  </div>
  <div class="row">
    <div class="column">
       <h3> <span> &#9792; {{ preds.family_object.cross.parent_one }} </span> </h3>
       <div class="detail-box">
	<p class="detail_info">{{ preds.family_object.cross.parent_one.purdy_text }}</p>
       </div>
       <div class="detail-box">
        <p class="detail_info">{{ preds.family_object.cross.parent_one.genes_text }}</p>
       </div>
    </div>
    <div class="column">
       <h3> &#9794; {{ preds.family_object.cross.parent_two }} </a> </span></h3>
       <div class="detail-box">
        <p class="detail_info">{{ preds.family_object.cross.parent_two.purdy_text }}</p>
       </div>
       <div class="detail-box">
        <p class="detail_info">{{ preds.family_object.cross.parent_two.genes_text }}</p>
       </div>
    </div>
  </div>	
</div>
