	{% for key, value in preds.items %}
	    <div class = "fb-column-pred">
		{% if key != "family_object" and key != "family_plots_table" and key != "family_plots_gen" %}
		  <div class="detail-box">
		    <div class = "detail_info">
			<p> {{ value.0 }} </p>
		    </div>
		  </div>
		  <div style="background-color:{{ value.1 }};" class="scale-box">
		    <div class = "detail_info">
			    <p> &#8202; </p>
		    </div>
		  </div>
		{% endif %}
	    </div>
	{% endfor %}
</div>
</div>
</div>
</div>
