<div class="table-tools-wrapper">
  <div class="outer-container">
  <div class="column">
  {% with fam=preds.family_object %}
  <div class="row">
    <div class="fb-column-one">
       <div class="detail-box-family">
          <p class="detail_info"> {{ fam.family_id }} </p>
       </div>
    </div>
    <div class="fb-column-parent">
       <div class="detail-box">
	       <p class="detail_info"> &#9792; {{ fam.cross.parent_one }} </p> 
       </div>
    </div>
    <div class="fb-column-purdy">
       <div class="detail-box">
	<p class="detail_info">{{ fam.cross.parent_one.purdy_text }}</p>
       </div>
    </div>
    <div class="fb-column-genes">
       <div class="detail-box">
        <p class="detail_info">{{ fam.cross.parent_one.genes_text }}</p>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="fb-column-one">
       <div class="detail-box">
	       <p class="detail_info" style="font-size:10px;"> F <sub> {{ preds.family_plots_gen }} </sub> </p>
       </div>
    </div>
    <div class="fb-column-parent">
       <div class="detail-box">
	    <p class="detail_info"> &#9794; {{ fam.cross.parent_two }} </p>
       </div>
    </div>
    <div class="fb-column-purdy">
       <div class="detail-box">
        <p class="detail_info">{{ fam.cross.parent_two.purdy_text }}</p>
       </div>
    </div>
    <div class="fb-column-genes">
       <div class="detail-box">
        <p class="detail_info">{{ fam.cross.parent_two.genes_text }}</p>
       </div>
    </div>
  </div>
  {% endwith %}
</div>
