.table {
	width: 81vw;
	border-collapse: collapse;
	box-shadow: 8px 5px 5px rgba(88, 77, 94, 0.1);
	margin-bottom: 15px;
}

.half-table .table {
	max-width: 50vw;
}

.third-table .table {
	max-width: 40vw;
}

.table tr td {
	max-width: 17vw;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-left: 20px;
}


.table tr {
	height: 40px;
}

.table tr th {
	text-align: left;
	padding-left: 20px;
	
}

.table th:first-of-type {
  border-top-left-radius: 4px;
}
.table th:last-of-type {
  border-top-right-radius: 4px;
}


.table tr:first-child {
 	border-top: none;
}

.table th {
	background-color: #C2B0D4;
}

.table .even {
	background-color: #F9F8F0;
}

.table .odd {
	background-color: #FFFFFF;
}


.pagination {
	width: 15%;
	padding: 10px;
	margin: 10px 0;
	text-align: center;
	background-color: #C2B0D4;
	align-content: center;
	border-radius: 4px;
	cursor: pointer;
}

.page-btn-left {
	margin-right: 15px;
	font-size:x-large;
	cursor: pointer;
}

.page-btn-right {
	margin-left: 15px;
	font-size: x-large;
	cursor: pointer;
}

.page-btn-middle {
	font-size:large;
}


